In [141]:
from __future__ import division
from pyomo.environ import *
from pyomo.opt import SolverFactory
import googlemaps
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import ast
import time as tm

In [142]:
def connection(user,passwd,dbname):
    str1 = ('postgresql+pg8000://' + user +':' + passw + '@switch-db2.erg.berkeley.edu:5432/' 
            + dbname + '?ssl=true&sslfactory=org.postgresql.ssl.NonValidatingFactory')
    engine = create_engine(str1)
    return engine

In [143]:
user = 'jdlara'
passw = 'Amadeus-2010'
dbname = 'apl_cec' 
engine_apl = connection(user,passw,dbname)

In [144]:
query = ('SELECT biosum.latlon.biosum_cond_id as biosum_id, \"PGE\".feeders.feeder_no as feeder_id, '+ 
         'biosum.latlon.lon as biosum_lon, biosum.latlon.lat as biosum_lat, ' +
         '\"PGE\".feeders.lon as feeders_lon, \"PGE\".feeders.lat as feeders_lat, '
         'ST_Distance(st_transform(biosum.latlon.geom,5070),st_transform(\"PGE\".feeders.geom,5070))/1000 ' + 
         'as distance_km FROM biosum.latlon, \"PGE\".feeders WHERE ST_DWithin(st_transform(biosum.latlon.geom,5070),' +
         'st_transform(\"PGE\".feeders.geom,5070), 160000) limit 5;')

In [145]:
df_routes = pd.read_sql_query(query,engine_apl)
df_routes

,biosum_id,feeder_id,biosum_lon,biosum_lat,feeders_lon,feeders_lat,distance_km
0,1201106060105300604640002,182562102,-121.539628,36.260717,-120.08998,35.52568,153.601926
1,1200906050905300550920001,182562102,-121.269174,35.813780,-120.08998,35.52568,110.613287
2,1201406060405300926050001,182562102,-121.457953,35.981066,-120.08998,35.52568,132.788025
3,1200506050502900509010001,182562102,-118.591182,35.431466,-120.08998,35.52568,135.232684
4,1200506050502900663930001,182562102,-118.580733,35.620251,-120.08998,35.52568,136.005608

In [146]:
biosum_coord = df_routes.biosum_lat.astype(str).str.cat(df_routes.biosum_lon.astype(str), sep=',')
biosum_coord = biosum_coord.values.tolist()
df_routes['biosum_coord_str'] = biosum_coord

feeder_coord = df_routes.feeders_lat.astype(str).str.cat(df_routes.feeders_lon.astype(str), sep=',')
feeder_coord = feeder_coord.values.tolist()
df_routes['feeder_coord_str'] = feeder_coord

df_routes['distance_google'] = pd.Series(np.random.randn(len(df_routes['biosum_id'])), index=df_routes.index)
df_routes['time_google'] = pd.Series(np.random.randn(len(df_routes['biosum_id'])), index=df_routes.index)

In [147]:
df_routes = df_routes.drop(['biosum_lon','biosum_lat','feeders_lon','feeders_lat'], 1)
df_routes

,biosum_id,feeder_id,distance_km,biosum_coord_str,feeder_coord_str,distance_google,time_google
0,1201106060105300604640002,182562102,153.601926,"36.260717,-121.539628","35.5256799689,-120.089980011",0.616067,-0.203497
1,1200906050905300550920001,182562102,110.613287,"35.81378,-121.269174","35.5256799689,-120.089980011",-0.849557,0.128592
2,1201406060405300926050001,182562102,132.788025,"35.981066,-121.457953","35.5256799689,-120.089980011",-0.642206,0.125904
3,1200506050502900509010001,182562102,135.232684,"35.431466,-118.591182","35.5256799689,-120.089980011",-1.236463,0.739592
4,1200506050502900663930001,182562102,136.005608,"35.620251,-118.580733","35.5256799689,-120.089980011",-0.867989,1.026629

In [148]:
gmaps = googlemaps.Client(key='AIzaSyAKlu6Ndp4RiMTgE2eiqoM3UnVZdUkZppU')
distance_table = {}
time_table = {}
biomass_list = []
substation_list = []
avoid_table = {}
fail_table = {}

In [151]:
for index, row in df_routes.iterrows():
    matrx_distance = (gmaps.distance_matrix(row['biosum_coord_str'], row['feeder_coord_str'], 
                                            mode="driving", departure_time="now", traffic_model="pessimistic"))
    error = matrx_distance['rows'][0]['elements'][0]['status']
    if error != 'OK':
        f = open('fail_table.dat', 'a')
        f.write(('Route data unavailable for ' + str(row['biosum_id']) + "," + str(row['feeder_id']) + "\n"))
        f.close()
    else:
        df_routes.set_value(index,'distance_google', (0.001 * matrx_distance['rows'][0]['elements'][0]['distance']['value']))
        df_routes.set_value(index,'time_google', (1 / 3600) *(matrx_distance['rows'][0]['elements'][0]['duration_in_traffic']['value']))

{u'status': u'OK', u'rows': [{u'elements': [{u'duration': {u'text': u'3 hours 19 mins', u'value': 11941}, u'distance': {u'text': u'234 km', u'value': 233895}, u'duration_in_traffic': {u'text': u'3 hours 27 mins', u'value': 12426}, u'status': u'OK'}]}], u'origin_addresses': [u'Forest Rte 18S02, Greenfield, CA 93927, USA'], u'destination_addresses': [u'805 Bitterwater Rd, Shandon, CA 93461, USA']}
{u'status': u'OK', u'rows': [{u'elements': [{u'duration': {u'text': u'2 hours 51 mins', u'value': 10267}, u'distance': {u'text': u'146 km', u'value': 145918}, u'duration_in_traffic': {u'text': u'2 hours 53 mins', u'value': 10409}, u'status': u'OK'}]}], u'origin_addresses': [u'Unnamed Road, Big Sur, CA 93920, USA'], u'destination_addresses': [u'805 Bitterwater Rd, Shandon, CA 93461, USA']}
{u'status': u'OK', u'rows': [{u'elements': [{u'duration': {u'text': u'2 hours 31 mins', u'value': 9066}, u'distance': {u'text': u'179 km', u'value': 178591}, u'duration_in_traffic': {u'text': u'2 hours 37 mins', u'value': 9408}, u'status': u'OK'}]}], u'origin_addresses': [u'Unnamed Road, Big Sur, CA 93920, USA'], u'destination_addresses': [u'805 Bitterwater Rd, Shandon, CA 93461, USA']}
{u'status': u'OK', u'rows': [{u'elements': [{u'duration': {u'text': u'2 hours 31 mins', u'value': 9048}, u'distance': {u'text': u'176 km', u'value': 175888}, u'duration_in_traffic': {u'text': u'2 hours 42 mins', u'value': 9725}, u'status': u'OK'}]}], u'origin_addresses': [u'Unnamed Road, Caliente, CA 93518, USA'], u'destination_addresses': [u'805 Bitterwater Rd, Shandon, CA 93461, USA']}
{u'status': u'OK', u'rows': [{u'elements': [{u'duration': {u'text': u'2 hours 22 mins', u'value': 8519}, u'distance': {u'text': u'158 km', u'value': 157698}, u'duration_in_traffic': {u'text': u'2 hours 25 mins', u'value': 8707}, u'status': u'OK'}]}], u'origin_addresses': [u'Lake Isabella, CA 93240, USA'], u'destination_addresses': [u'805 Bitterwater Rd, Shandon, CA 93461, USA']}

,biosum_id,feeder_id,distance_km,biosum_coord_str,feeder_coord_str,distance_google,time_google
0,1201106060105300604640002,182562102,153.601926,"36.260717,-121.539628","35.5256799689,-120.089980011",233.895,3.451667
1,1200906050905300550920001,182562102,110.613287,"35.81378,-121.269174","35.5256799689,-120.089980011",145.918,2.891389
2,1201406060405300926050001,182562102,132.788025,"35.981066,-121.457953","35.5256799689,-120.089980011",178.591,2.613333
3,1200506050502900509010001,182562102,135.232684,"35.431466,-118.591182","35.5256799689,-120.089980011",175.888,2.701389
4,1200506050502900663930001,182562102,136.005608,"35.620251,-118.580733","35.5256799689,-120.089980011",157.698,2.418611